---
layout: page
description: "Thinking will not overcome fear but action will."
---
<head>
</head>
<body>
    <!-- Gitalk 评论 start  -->

<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
<div id="gitalk-container"></div>     <script type="text/javascript">
    var gitalk = new Gitalk({

    // gitalk的主要参数
		clientID: `af354da6367d7f50e906`,
		clientSecret: `d60c43f9452cc84018c1490919e0acb3d73e40ea`,
		repo: `zhengzaixu.github.io`,
		owner: 'zhengzaixu',
		admin: ['zhengzaixu'],
		id: 'zhengzaixu0402',
    
    });
    gitalk.render('gitalk-container');
</script> 
<!-- Gitalk end -->
<script type="text/javascript">
    (function(){document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));
    var bdcs = document.createElement('script');
    bdcs.type = 'text/javascript';bdcs.async = true;
    bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=9708626900341251080' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(bdcs, s);})();
</script>
{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}
<video>
    <source src="https://github.com/zhengzaixu/zzxzzzx.github.io/blob/master/1.mp4?raw=true"></source>
</video>
<video>
    <source src="https://github.com/zhengzaixu/zzxzzzx.github.io/blob/master/2_中.mp4?raw=true"></source>
</video>
<video>
    <source src="https://github.com/zhengzaixu/zzxzzzx.github.io/blob/master/New_中.mp4?raw=true"></source>
</video>
<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
</body>
